- var appName = 'App Name';
- var color = '#f5b300';

mixin head()
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    link(rel="icon", type="image/png", href="favicon.png")

    meta(name='msapplication-tap-highlight', content='no')
    // Web Application Manifest
    link(rel='manifest', href='manifest.json')
    // Add to homescreen for Chrome on Android
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='application-name', content=appName)
    link(rel='icon', sizes='192x192', href='img/general/touch/chrome-touch-icon-192x192.png')
    // Add to homescreen for Safari on iOS
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content=appName)
    link(rel='apple-touch-icon', href='img/general/touch/apple-touch-icon.png')
    // Tile icon for Win8 (144x144 + tile color)
    meta(name='msapplication-TileImage', content='img/general/touch/ms-touch-icon-144x144-precomposed.png')
    meta(name='msapplication-TileColor', content=color)
    // Color the status bar on mobile devices
    meta(name='theme-color', content=color)
    
    link(rel='stylesheet', type='text/css', href='css/style.css')

    //custom-style.css - DO NOT CHANGE style.css, if needs change css use custom-style.css
    link(rel='stylesheet', type='text/css', href='css/custom-style.css')